p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  margin: 20px 0;
}
.rowContacts {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.rowContacts a button mat-icon {
    font-size: 28px;
}
.rowContacts a button mat-icon:hover {
    color: #0077b5;
}

.contact-image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-image-container img {
  width: 25%;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}
