<swiper-container
  slides-per-view="1"
  speed="500"
  loop="true"
  css-mode="false"
  mousewheel-force-to-axis="true"
  navigation="true"
  pagination="true"
  scrollbar="true"
>
  <swiper-slide class="flex-container">
    <div class="card">
      <div style="display: flex; flex-direction: row; justify-content: center">
        <a class="linkTo" href="https://angular.io/"
          ><img width="35%" src="angular-icon-seeklogo.png"
        /></a>
      </div>
      <table>
        <tr style="display: flex; align-items: start">
          <td style="display: flex; align-items: start; padding-left: 0">
            <a class="linkTo" href="https://nodejs.org/en"
              ><img width="35%" style="padding-right: 1%" src="nodejs.svg"
            /></a>
          </td>
        </tr>
        <tr style="display: flex; align-items: start">
          <td style="display: flex; align-items: start; padding-left: 0">
            <a class="linkTo" href="https://www.typescriptlang.org/"
              ><img width="260px" src="typescript-logo-1024x576.png" /></a
            >
          </td>
        </tr>
        <tr style="display: flex; align-items: start">
          <td style="display: flex; align-items: start; padding-left: 0">
            <a class="linkTo" href="https://typeorm.io/"><img width="45%" src="typeorm.png" /></a>
          </td>
        </tr>
      </table>
    </div>
  </swiper-slide>
  <swiper-slide class="flex-container">
    <div class="card">
      <img
        width="100%"
        style="padding-right: 1%; padding-bottom: 2%"
        src="mysql_official_logo_icon.svg"
      />
      <a class="linkTo" href="https://www.mysql.com/">https://www.mysql.com/</a>
      <img width="100%" style="padding-right: 1%" src="postgresql_src_logo_icon_170834.svg" />
      <a class="linkTo" href="https://www.postgresql.org/">https://www.postgresql.org/</a>
    </div>
  </swiper-slide>
  <swiper-slide class="flex-container">
    <div class="card">
      <h1 style="display: block; text-align: center; font-family: 'Helvetica Neue', sans-serif">
        Express
      </h1>
      <a class="linkTo" href="https://expressjs.com/">https://expressjs.com/</a>
      <img
        width="100
      %"
        style="padding-right: 1%"
        src="github-icon-seeklogo.com.svg"
      />
      <a class="linkTo" href="https://github.com/">https://github.com/</a>
      <img width="100%" style="padding-right: 1%" src="handlebars_logo.png" />
      <a class="linkTo" href="https://handlebarsjs.com/">https://handlebarsjs.com/</a>
    </div>
  </swiper-slide>
</swiper-container>
