:root {
  --primary-color: #3f51b5;
  --accent-color: #ff4081;
  --warn-color: #f44336;
  --background-color: #fafafa;
  --text-color: rgba(0, 0, 0, 0.87);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark-theme {
  --primary-color: #9fa8da;
  --accent-color: #f48fb1;
  --warn-color: #ef9a9a;
  --background-color: #303030;
  --text-color: rgba(255, 255, 255, 0.87);
}

.mat-toolbar.mat-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }