.presentation-image-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
